git+https://github.com/vgl-iisc/mscomplex3d.git
h5py==3.16.0
itk==5.4.7
itk_registration==5.4.7
matplotlib==3.11.1
numba==0.67.0
numpy
scikit-image==0.26.0
scipy
SimpleITK==2.5.6
vtk==9.7.0
tqdm==4.46.0
kneed==0.8.1
